
.form-cont{

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;


    .login-cont {
        background-color: #fff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 285px;
        position: relative;
        padding: 30px 22px;
        margin-bottom:25px;
    
        h3 {
            margin-bottom: 19px;
        }

        .error{
            color: red;
            position: absolute;
            top: 44px;
            font-size: 12px;
        }
    
        input {
            width: 239px;
            height: 41px;
            border: 1px solid #d9d9d9;
            border-radius: 99px;
            padding-left: 15px;
            margin-top: 11px;

            &:nth-child(2){
                margin-top: 11px;
            }
    
        }

        .pass-input {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 11px 0 0 0;
            width: 239px;
            height: 41px;
            border: 1px solid #d9d9d9;
            border-radius: 99px;
            padding: 0 10px 0 0;

            input{
                margin: 0;
                width: 90%;
                border: none;
                background-color: transparent;
            }

            svg{
                cursor: pointer;
            }
        }

        p{
            font-size: 10px;
            margin:16px 0 15px 0;
            text-align: center;
        }
    
        button {
            width: 239px;
            height: 45px;
            cursor: pointer;
            background: #6633ff;
            border-radius: 99px;
            border: none;
            color: #fff;
            font-weight: bold;
    
            &.active, &.focus{
                outline: none;
            }
    
            &:hover{
                background-color: lighten($color: #6633ff, $amount: 5);
            }

            &:disabled{
                background-color: #F4F3F8;
                color: #66636F;
            }
        }

        .login-link{
            color: #6633ff;
            margin-top: 1em;
            font-size: 13px;
            font-weight: bold;

            &:hover{
                color: lighten($color: #6633ff, $amount: 15);
            }
        }
    
        .login-bottom {
            border-top: 1px solid #d9d9d9;
            margin-top: 23px;
            padding-top: 23px;
            width: 239px;
    
            button{
                background-color: transparent;
                color:#6633ff;
                border: 1px solid #6633ff;
                &:hover{
                    background-color: lighten($color: #6633ff, $amount: 35);
                }
                
            }
        }
    }
}


.logo-short{
    cursor: pointer;
    left: 19px;
    position: absolute;
    top: 15px;

    &:hover{
        transform: scale(1.12);
    }
}

input:active, input:focus{
    outline: none ;
    border: 1px solid #6633FF ;
    
}