<!-- <form
    class="form-cont"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
> -->
<form
    class="form-cont"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
>
    <a
        href="https://berryweb.netlify.app/"
        target="_blank"
    >
        <img
            class="logo-short"
            [src]="logoShort"
            alt="Berry"
        >
    </a>

    <div class="login-cont">
        <h3>Welcome Berry!</h3>
        <p
        class="error"
        *ngIf="loginError!=''"
        > {{loginError}}</p>
        <input
            type="text"
            placeholder="Insert your name"
            formControlName="username"
        />

        <input
            type="text"
            placeholder="Insert your email"
            formControlName="email"
        />


        <div class="pass-input">
            <input
                [type]="!showPass ? 'password' : 'text'"
                placeholder="Insert your password"
                formControlName="password"
            />

            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                [style]="passStyle"
                (click)="tooglePass()"
            >
                <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path>
                <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
            </svg>
        </div>

        <p>
            By registering, you confirm that you have read and
            accepted our Terms of Service and Privacy Policy
        </p>

        <button
            type="submit"
            [disabled]="registerForm.invalid"
        >Register</button>

        <a class="login-link" 
            [routerLink]="['/user/login']"
        >Already have an account?</a>
    </div>

    <img
        class="logo-pale"
        [src]="logoPale"
        alt="Berry"
    >
</form>