.game-cont {
    max-width: 800px;
    margin: auto;
}

.download-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #6633FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    position: fixed;
    right: 1em;
    bottom: 4em;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #6633FF, $amount: 5);
    }
}

.add-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #6633FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    right: 1em;
    bottom: 1em;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #6633FF, $amount: 5);
    }
}

.content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    margin-bottom: 2em;

    #miDiv {
        // height: 21cm;
        // max-width: 29.7cm;
        min-height: 21cm;
        max-width: 29.7cm;

        width: 80%;
        margin: 4em auto 0 auto;
        background-color: rgb(231, 236, 241);
        padding: 20px;

        .game-items-cont {

            display: flex;
            justify-content: flex-start;
            align-items: top;
            flex-wrap: wrap;
        }

    }

}

.empty {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;

    .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid rgb(231, 236, 241);

        padding: 1em;
        border-radius: 12px;

        &:hover {

            transform: scale(105%);
        }
    }

    h1 {
        font-size: 25px;
    }

    img {
        max-width: 300px;
        width: 100%;
        margin-top: 1em;
    }
}

.projects-cont {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding-left: 200px;
    padding-top: 50px;

    .project {

        width: 250px;
        height: 130px;
        border-radius: 8px;
        padding: 0.5em;
        margin: 0.5em;
        background-color: #fff;
        // -webkit-box-shadow: 0px 0px 5px 0px rgba(159, 160, 189, 1);
        // -moz-box-shadow: 0px 0px 5px 0px rgba(159, 160, 189, 1);
        // box-shadow: 0px 0px 5px 0px rgba(159, 160, 189, 1);
        position: relative;



        .actions {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            padding: 0.2em;
            // background-color: rgba(167, 154, 241, 0.459);
            border-bottom: 2px solid #6633ff42;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;

            .project-title{
                font-size: 16px;
                cursor: pointer;

                &:hover{
                    color: #6633FF;
                }
                
            }

            .btn-cont {

                button {
                    border-radius: 100%;
                    border: none;
                    cursor: pointer;
                    background-color: transparent;

                    &:first-child {
                        margin-right: 0.2em;
                    }

                    &:hover {
                        transform: scale(1.15);
                    }

                    img {
                        height: 20px;
                    }
                }
            }
        }


        .description-cont {
            padding:  0 0.2em;

            height: 70px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            /* Número de líneas que deseas mostrar */
            -webkit-box-orient: vertical;

            p {
                font-size: 14px;

                &::selection {
                    background-color: transparent;
                }
            }
        }

        h5 {
            &::selection {
                background-color: transparent;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .empty {

        padding-left: 0;
        height: auto;
        padding-top: 100px;

        h1 {
            font-size: 18px;
        }

    }


    .projects-cont {
        padding-left: 50px;
    }
}