.game-cont {
    max-width: 800px;
    margin: auto;
}

.download-btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #6633FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    position: fixed;
    right: 1em;
    bottom: 4em;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        background-color: lighten($color: #6633FF, $amount: 5);
    }
}

.add-btn{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #6633FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    right: 1em;
    bottom: 1em;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &:hover{
        background-color: lighten($color: #6633FF, $amount: 5);
    }
}

.content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    margin-bottom: 2em;
    #miDiv {
        // height: 21cm;
        // max-width: 29.7cm;
        min-height: 21cm;
        max-width: 29.7cm;
        
        width: 80%;
        margin: 4em auto 0 auto;
        background-color: rgb(231, 236, 241);
        padding: 20px;

        .game-items-cont {

            display: flex;
            justify-content: flex-start;
            align-items: top;
            flex-wrap: wrap;
        }

    }

}

.empty{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    .action{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid rgb(231, 236, 241);

        padding: 1em;
        border-radius: 12px;

        &:hover{

            transform: scale(105%);
        }
    }
    h1{
        font-size: 25px;
    }
    img{
        max-width: 300px;
        width: 100%;
        margin-top: 1em;
    }
}

  @media screen and (max-width: 600px) {
    .empty{
   
        padding-left: 0;
        height: auto;
        padding-top: 100px;
        h1{
            font-size: 18px;
        }
      
    }
  }