<app-navbar></app-navbar>

<div *ngIf="projects && projects.length < 1" class="empty">
  <div (click)="toggleShowCreateProjectModal()" class="action">
    <h1>STAR CREATING A NEW PROJECT</h1>
    <img [src]="emptyIllustration" alt="" />
  </div>
</div>

<div id="miDiv" class="projects-cont" *ngIf="projects && projects.length > 0">
  <div class="project" *ngFor="let project of projects">
    <div class="actions">
      <h5 class="project-title">{{ project.project_name }}</h5>

      <div class="btn-cont">
        <button>
          <img [src]="editIcon" alt="" />
        </button>
        <button (click)="selectProject(project)">
          <img [src]="deleteIcon" alt="" />
        </button>
      </div>
    </div>
    <div class="description-cont">
      <p>{{ project.description }}</p>
    </div>
  </div>
</div>

<!-- <div class="content">
    <div id="miDiv">
        <input type="text">
        <div class="game-items-cont">
            <app-game-item [item]="gameItem" *ngFor="let gameItem of gameItems"></app-game-item>
        </div>
    </div>
</div> -->

<button
  *ngIf="projects.length > 0"
  (click)="downloadPDF()"
  class="download-btn"
>
  ⤓
</button>
<button (click)="toggleShowCreateProjectModal()" class="add-btn">+</button>

<!-- <button (click)="downloadPDF()" class="download-btn">
    Descargar
</button> -->
<!-- <button (click)="generarPDF()" class="download-btn">
    Generar
</button> -->

<!-- CREATE PROJECT MODAL -->
<app-create-project-modal
  *ngIf="showCreateProjectModal"
  (toggleShowCreateProjectModal)="toggleShowCreateProjectModal()"
  (updateProjects)="getProjects()"
></app-create-project-modal>

<!-- <DELETE MODAL -->
<app-delete-modal
  *ngIf="showDeleteProjectModal"
  (toggleShowModal)="toggleShowDeleteProjectModal()"
  (deleteItem)="deleteProject()"
  [valueToShow]="'project_name'"
  [item]="selectedProject"
>
</app-delete-modal>
