<div #sidebar class="navbar-cont mobile-hidden">
    <button (click)="toggleMobileClass()" class="close-btn">&times;</button>
    <div class="header">
        <!-- <img
            [src]="logoIcon"
            alt=""
        > -->

        <span class="title">GDD</span>
         <h5 class="username">{{userName | titlecase}}</h5>
    </div>

    <div class="user-cont">
        <div class="logout">
            <!-- <h5 class="username">{{userName | titlecase}}</h5> -->

            <h5
                class="logout-btn"
                (click)="logout()"
            >Logout</h5>
        </div>
    </div>
</div>

<button (click)="toggleMobileClass()" class="menu-btn">
    <img [src]="menuIcon" alt="">
</button>
